
:root {
    --wa-dark: dark;
}

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: var(--wa-color-gray-05);
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: var(--wa-space-xl);
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--wa-color-gray-80);
    box-shadow: var(--wa-shadow-m);
    border-radius: var(--wa-border-radius-m);
    overflow: hidden;
}

.table thead {
    font-size: var(--wa-font-size-l);
}

.table td tr {
    border-collapse: collapse;
    width: auto;
}

.table-dark {
    width: 100%;
    background-color: var(--wa-color-gray-40);
    box-shadow: var(--wa-shadow-m);
    border-radius: var(--wa-border-radius-m);
    overflow: hidden;
}

.table-secondary {
    width: 100%;
    background-color: var(--wa-color-gray-70);
    box-shadow: var(--wa-shadow-m);
    border-radius: var(--wa-border-radius-m);
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.modal-content {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 8px;
    height: 500px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-delete-content {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 8px;
    height: 250px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal.show {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.text-success {
    color: var(--wa-color-green);
}
.text-danger {
    color: var(--wa-color-danger);
}

.compact {
    border-collapse: collapse;
    width: 100%;
}

.icon-green {
    color: var(--wa-color-green);
}

.icon-red {
    color: var(--wa-color-red);
}