<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>

    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.3/dist/styles/webawesome.css"/>
    <link rel="stylesheet"
          href="https://early.webawesome.com/webawesome@3.0.0-beta.3/dist/styles/color/palettes/default.css"/>
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.3/dist/webawesome.loader.js"></script>

    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script th:src="@{/js/scripts.js}" defer></script>
    <script th:src="@{/js/htmx-fallback.js}"
            defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
</head>
<body>
<div class="wa-stack wa-gap-10xs container py-5">
    <div class="wa-split">
        <h2 class="wa-heading-2xl">Product List</h2>
        <div class="wa-cluster">
            <wa-button
                    variant="brand"
                    hx-get="/products"
                    hx-target="#product-container"
                    hx-swap="innerHTML">
                <wa-icon slot="start" name="refresh"></wa-icon>
                Load Products
            </wa-button>
            <wa-button
                    variant="success"
                    hx-get="/product-form"
                    hx-target="#product-modal-container"
                    hx-swap="innerHTML">
                <wa-icon slot="start" name="add"></wa-icon>
                Add Product
            </wa-button>
        </div>
    </div>

    <!-- Product Table -->
    <div id="product-container" th:fragment="productContainer">
        <table class="table table-bordered table-hover bg-white shadow-sm compact">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Vendor</th>
                <th>Type</th>
                <th>Published Date</th>
                <th>Variants</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.vendor}"></td>
                <td th:text="${product.productType}"></td>
                <td th:text="${#temporals.format(product.publishedAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <table class="table compact">
                        <thead>
                        <tr class="table-dark">
                            <th>Options</th>
                            <th>Price</th>
                            <th>Grams</th>
                            <th>Taxable</th>
                        </tr>
                        </thead>
                        <tbody class="table-secondary">
                        <tr th:each="v : ${product.variants}">
                            <td th:text="${v.title}"></td>
                            <td th:text="'$' + ${v.price}"></td>
                            <td th:text="${v.grams}"></td>
                            <td>
                                <div class="icon-green">
                                    <wa-icon name="circle-check" th:if="${v.taxable}"></wa-icon>
                                </div>
                                <div class="icon-red">
                                    <wa-icon name="circle-xmark" th:if="${!v.taxable}"></wa-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <wa-button size="small" variant="success"
                                           th:hx-get="@{/variant-form/{id}(id=${product.id})}"
                                           hx-target="#variant-modal-container"
                                           hx-swap="innerHTML">
                                    <wa-icon slot="start" name="add"></wa-icon>
                                    Add
                                </wa-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <div class="wa-gap-2xs">
                        <wa-button variant="warning" size="small"
                                   th:hx-get="@{/product-form/{id}(id=${product.id})}"
                                   hx-target="#product-modal-container"
                                   hx-swap="innerHTML">
                            <wa-icon name="edit"></wa-icon>
                        </wa-button>
                        <wa-button variant="danger" size="small"
                                   th:hx-get="@{/products/delete-confirm/{id}(id=${product.id})}"
                                   hx-target="#delete-modal-container"
                                   hx-swap="innerHTML">
                            <wa-icon name="trash"></wa-icon>
                        </wa-button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal Container -->
    <div id="product-modal-container"></div>

    <!-- Add/Edit Product Modal Fragment -->
    <div th:fragment="productModal">
        <div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
            <div class="modal-content wa-stack wa-gap-10xs">
                <div class="wa-split">
                    <h5 class="wa-heading-xl" th:text="${product?.id != null ? 'Edit Product' : 'Add Product'}"></h5>
                    <wa-icon onclick="closeModal('productModal')" name="xmark" variant="solid"></wa-icon>
                </div>

                <div class="modal-body">
                    <form th:action="${product?.id != null ? '/products/update/' + product.id : '/products/create'}"
                          method="post"
                          hx-target="#product-container"
                          hx-swap="innerHTML"
                          onsubmit="closeModal('productModal'); this.submit();">
                        <div class="wa-stack wa-gap-10xs">
                            <div class="wa-stack">
                                <wa-input label="Title" type="text" name="title" class="form-control"
                                          th:value="${product?.title}" required></wa-input>
                                <wa-input label="Vendor" type="text" name="vendor" class="form-control"
                                          th:value="${product?.vendor}" required></wa-input>
                                <wa-input label="Product Type" type="text" name="productType" class="form-control"
                                          th:value="${product?.productType}" required></wa-input>
                            </div>
                            <div class="wa-cluster">
                                <wa-button variant="danger" onclick="closeModal('productModal')">Cancel</wa-button>
                                <wa-button type="submit" variant="success">Save Changes</wa-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Variant Container -->
    <div id="variant-modal-container"></div>

    <div th:fragment="variantModal">
        <div class="modal" id="variantModal" tabindex="-1" aria-hidden="true">
            <div class="modal-content wa-stack wa-gap-10xs">
                <div class="wa-split">
                    <h5 class="wa-heading-xl">Add Variant</h5>
                    <wa-icon onclick="closeModal('variantModal')" name="xmark" variant="solid"></wa-icon>
                </div>

                <div class="modal-body">
                    <form th:action="@{'/products/'+${productId}+'/variants/create'}"
                          method="post"
                          hx-target="#product-container"
                          hx-swap="innerHTML"
                          onsubmit="closeModal('variantModal'); this.submit();">
                        <div class="wa-stack wa-gap-10xs">
                            <div class="wa-stack wa-gap-10xs">
                                <input type="hidden" name="productId" th:value="${productId}"/>
                                <wa-input label="Variant Title" type="text" name="title" required></wa-input>
                                <wa-input label="Price" type="number" name="price" required></wa-input>
                                <wa-input label="Grams" type="number" name="grams" required></wa-input>
                                <input type="hidden" name="taxable" value="false"/>
                                <wa-checkbox name="taxable" value="false">Taxable</wa-checkbox>
                            </div>
                            <div class="wa-cluster">
                                <wa-button variant="danger" onclick="closeModal('variantModal')">Cancel</wa-button>
                                <wa-button variant="success">Submit</wa-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Container -->
    <div id="delete-modal-container"></div>

    <div th:fragment="deleteModal">
        <div class="modal" id="deleteModal" tabindex="-1" aria-hidden="true">
            <div class="modal-delete-content wa-stack wa-gap-10xs">
                <div class="wa-split">
                    <h5 class="wa-heading-l">Confirm Delete</h5>
                    <wa-icon onclick="closeModal('deleteModal')" name="xmark" variant="solid"></wa-icon>
                </div>
                <div>
                    <p class="wa-heading-xl">Are you sure you want to delete this?</p>
                </div>
                <div class="wa-cluster">
                    <wa-button variant="warning" onclick="closeModal('deleteModal')">Cancel</wa-button>
                    <form th:action="@{'/products/delete/' + ${productId}}" method="post"
                          hx-target="#product-container"
                          hx-swap="innerHTML"
                          onsubmit="closeModal('deleteModal'); this.submit();">
                        <wa-button type="submit" variant="danger">Delete</wa-button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>